{% block sidebar %}
<div class="g one-quarter portable-one-whole well islet">
	<h3>Information</h3>
	<dl>
		<dt><strong>Date</strong></dt>
		<dd><date>2nd February 2013</date></dd>
		<dt><strong>Venue</strong></dt>
		<dd>The Auditorium<br/>BITS Pilani, Goa</dd>
	</dl>
	<p><span class="note">Our registrations start soon.</span></p>
</div>
<div class="g one-quarter portable-one-whole">
    <div class="fb-like-box" data-href="http://www.facebook.com/markmywordconf" data-width="292" data-show-faces="true" data-stream="true" data-header="true"></div>
</div>
{% endblock %}