{% block sidebar %}
<div class="g one-quarter portable-one-whole islet">
  <h3>Register for Mark My Word 2013</h3>
  <a href="http://event.ayojak.com/event/mark-my-word">Registrations have started.</a>
</div>
<div class="g one-quarter portable-one-whole islet">
  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
  <form action="http://markmyword.us5.list-manage1.com/subscribe/post?u=e019f261aeaf015f9630c2b5b&amp;id=21b10ccdca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Subscribe to our mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
  </div>
</div>
<div class="g one-quarter portable-one-whole">
  <div class="fb-like-box" data-href="http://www.facebook.com/markmywordconf" data-width="292" data-show-faces="true" data-stream="true" data-header="true"></div>
</div>
{% endblock %}