{% extends "master.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_content %}
<div id="inner-content" class="gw">

    <div class="g three-quarters full-bleed">

        <h1 class="page_title">{{ page.title }}</h1>
        <div class="media">
            <a href="http://{{ page.website }}" class="speaker-thumb">
                <img class="media__img" src="{{ page.thumb.url }}" alt="{{ page.title }}" width="175" height="175">
            </a>
        </div>

        <div class="speaker speaker-meta section">
            <div class="g two-thirds speaker-bio full-bleed">
                {{ page.bio }}
            </div>
            <div class="g one-third speaker-info">
                <dl>
                {% if page.twitter %}
                    <dt>Twitter</dt>
                    <dd><a href="http://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a></dd>
                {% endif %}
                {% if page.website %}
                    <dt>Website</dt>
                    <dd><a href="http://{{ page.website }}">{{ page.website }}</a></dd>
                {% endif %}
                </dl>
            </div>
        </div>

    </div>

</div>
{% endblock %}