{% extends "master.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_content %}
<div id="inner-content" class="g three-quarters">

    <div class="full-bleed">

        <h1 class="page_title">{{ page.title }}</h1>
        <div class="media">
            <a href="http://{{ page.website }}">
                <img class="media__img" src="{{ page.thumb.url }}" alt="{{ page.title }}" width="250" height="250">
            </a>
        </div>
        <div class="g two-thirds">
            <dl class="split">
                <dt class="split__title">Category</dt>
                <dd>{{ page.category }}</dd>
                <dt class="split__title">Website</dt>
                <dd><a href="http://{{ page.website }}">{{ page.website }}</a></dd>
            </dl>
        </div>

    </div>

</div>
{% endblock %}