{% extends "master.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_content %}
<div id="inner-content" class="g three-quarters portable-one-whole">

    <div class="gw full-bleed">

        <h1 class="page_title">{{ page.title }}</h1>
        <div class="g one-whole media">
            <a href="http://{{ page.website }}">
                <img class="media__img sponsor-logo" src="{{ page.thumb.url }}" alt="{{ page.title }}" />
            </a>
        </div>
        <div class="g two-thirds portable-one-whole islet">
            <dl class="split">
                <dt class="split__title">Category</dt>
                <dd>{{ page.category }}</dd>
                <dt class="split__title">Website</dt>
                <dd><a href="http://{{ page.website }}">{{ page.website }}</a></dd>
            </dl>
        </div>

    </div>

</div>
{% endblock %}